body{

    background-color:rgb(28, 28, 28);
    background-image: url("../img/descarga.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black ;

}